@font-face {
  font-family: 'iconfont'; /* Project id 3370953 */
  src: url('//at.alicdn.com/t/font_3370953_sdk7ywxb9t.woff2?t=1651478562995') format('woff2'), url('//at.alicdn.com/t/font_3370953_sdk7ywxb9t.woff?t=1651478562995') format('woff'),
    url('//at.alicdn.com/t/font_3370953_sdk7ywxb9t.ttf?t=1651478562995') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baojian:before {
  content: '\e603';
}

.icon-chakan:before {
  content: '\e602';
}

.icon-w_danwei-:before {
  content: '\e666';
}

.icon-weibiaoti534:before {
  content: '\e626';
}

.icon-xiangsu_wuqi:before {
  content: '\ed22';
}

.icon-yonghu:before {
  content: '\e601';
}

.icon-jishushichang-copy:before {
  content: '\e644';
}

.icon-fl-renshi:before {
  content: '\e62c';
}

.icon-yunying:before {
  content: '\e606';
}

.icon-zhiliangjishu:before {
  content: '\e8ba';
}

.icon-caiwu:before {
  content: '\e61f';
}

.icon-lingdao:before {
  content: '\e65c';
}

.icon-jiahao:before {
  content: '\e640';
}

.icon-jinggao:before {
  content: '\e600';
}

.icon-chenggong:before {
  content: '\e68f';
}

.icon-tuichuquanping-copy:before {
  content: '\e643';
}

.icon-quanping_:before {
  content: '\e667';
}

.icon-duihuaxinxitianchong:before {
  content: '\e67a';
}

.icon-zongcai:before {
  content: '\e633';
}

.icon-gongwenbao:before {
  content: '\e750';
}
